.idea/dictionaries/MF.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/example_bigtable_beam.iml
.idea/workspace.xml
